<% @email = "" unless @email %>

<div class="mar-t-2 center border-1px-dotted-grey round-1 w-600">
  <h1 class="text-c c-white">Let Me In!!!</h1>
  <form action="/users/login" method="post">
    <label for="email" class="block mar-l-36 c-white">E-mail:</label>
    <input id="email" name="email" type="text" class="block mar-b-2 mar-l-36" value="<%= @email %>">
    <label for="password" class="block mar-l-36 c-white">Password:</label>
    <input id="password" name="password" type="password" class="block mar-b-2 mar-l-36">
    <input type="submit" value="Seriously, let me in." class="block round-1 center mar-b-3 button">
  </form>
</div>

<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
