<div class="center border-1px-dotted-grey round-1 w-750">
  <h3 class="text-c c-white">You're correct!</h3>
  <a href="/decks/<%= @user_deck.id %>" class="block round-1 center mar-b-3 button w-110 text-c">Next Card</a>
</div>
