<div class="mar-t-2 center border-1px-dotted-grey round-1 w-750">
  <h3 class="text-c c-white">Question:<br><%= @cards[0].question %></h3>
  <form action='/decks/check/<%= @user_deck.id %>' method='post'>
    <input type="hidden" name="card_id" value="<%= @cards[0].id %>">
    <label for="guess" class="block mar-l-39 c-white">Enter your guess:</label>
    <input id="guess" type="text" name="guess" placeholder="" class="block mar-l-39 mar-b-2">
    <input type="submit" value="Answer" class="block round-1 mar-l-46 mar-b-3 button">
  </form>
</div>
